
@{
    Layout = null;
}

<h3>MVC KAMP TABLO ÖRNEĞİ-Kategori</h3>
<br />
<table>
    <tr>
        <th> ID </th>
        <th> Adı </th>
        <th> Açıklama </th>
        <th> Durum </th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklma Yaptık</td>
        <td>True</td>
    </tr> 
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>açıklandı</td>
        <td>True</td>
    </tr>
</table>